ul.sidebar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #343a40;
    position: fixed;
    top:40px;
    height: 100%;
    overflow: auto;
  }
  
  li.sidebar-menu a {
    display: block;
    color: #000;
  
    /* border: 1px solid #666666; */
    padding: 8px 0 8px 16px;
    text-decoration: none;
  }
  
  li.sidebar-menu a.active {
    background-color: #6c757d;
    color: white;
  }
  

  li.sidebar-menu a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  



  .sub-menu.active{
    display: block;
  }
  
  .sub-menu{
    display:none;
  }